#--可根据实际情况修改
#--创建于2018年4月24日 By iuysys

#----------------------------------------------------------------------
#--忽略压缩文件
#----------------------------------------------------------------------
*.rar
*.zip
*.7z
#----------------------------------------------------------------------
#--keilProject工程文件过滤表
#----------------------------------------------------------------------
#添加工程文件
!*.uvproj

#添加.c .h文件
!*.c
!*.h

#添加.hex文件
!*.hex

#忽略
*.lst
*.htm
*.obj
*.plg
*.bak
*.A51
*.plg
*.lnp
*.uvopt
*.__b
*.M51
*.LIB
*.txj
*.Administrato
*.zip
*.rar

#----------------------------------------------------------------------
#--Altium Designer工程文件过滤表
#----------------------------------------------------------------------
#忽略预览文件夹
__Previews/

#忽略历史文件夹
History/

#忽略无关的工程文件夹
Proj*/

#忽略工程结构文件
*.PrjPcbStructure

#----------------------------------------------------------------------
#--Quartus工程文件过滤表
#----------------------------------------------------------------------
#忽略
db/
incr*/
output*/
*.qsf
*.qws
*.bak
*rpt

#----------------------------------------------------------------------
#--Visio工程文件过滤表
#----------------------------------------------------------------------
*.vsdx
#----------------------------------------------------------------------
#--Proteus工程文件过滤表
#----------------------------------------------------------------------
#忽略
*.DBK
*.PWI
#----------------------------------------------------------------------
#--Multisim工程文件过滤表
#----------------------------------------------------------------------
#忽略
*.ms**(Security copy)

#----------------------------------------------------------------------#----------------------------------------------------------------------#----------------------------------------------------------------------#----------------------------------------------------------------------#----------------------------------------------------------------------#----------------------------------------------------------------------
